In [1]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 1CE7-43A7

 Directory of C:\Users\Ali Hassan\Documents\Deep Learning\Free Lancing\Ocean EX Email Automation\data\Sheet

11/12/2025  06:24 PM    <DIR>          .
11/07/2025  04:50 PM    <DIR>          ..
11/12/2025  06:24 PM    <DIR>          .ipynb_checkpoints
11/07/2025  06:25 PM             1,684 app.py
11/06/2025  10:02 PM            30,005 enriched_leads for christophale310.xlsx
11/06/2025  10:02 PM            51,744 enriched_leads.csv
11/12/2025  06:23 PM            15,415 Event Sheet.xlsx
11/07/2025  01:32 PM            67,993 main.csv
11/12/2025  06:24 PM               337 Notebook.ipynb
11/07/2025  01:51 PM               177 read.py
               7 File(s)        167,355 bytes
               3 Dir(s)  795,564,687,360 bytes free

In [2]:
import pandas as pd

In [4]:
data = pd.read_excel('Event Sheet.xlsx')

In [5]:
data.head()

   First Name        Last Name     workPhone
0    Abdullah           Jaragh   96560003377
1        Adam          Palfrey    7836570278
2      Albert  Hernando Barrio     606344933
3  Alessandro          Casadei             0
4        Alex         Varkados  306974690464

In [8]:
data['name'] = data['First Name'] + ' ' + data['Last Name']

In [9]:
data.head()

   First Name        Last Name     workPhone                    name
0    Abdullah           Jaragh   96560003377         Abdullah Jaragh
1        Adam          Palfrey    7836570278            Adam Palfrey
2      Albert  Hernando Barrio     606344933  Albert Hernando Barrio
3  Alessandro          Casadei             0      Alessandro Casadei
4        Alex         Varkados  306974690464           Alex Varkados

In [10]:
import pandas as pd

# Read the Excel file
df = pd.read_excel("Event Sheet.xlsx")

# Merge first and last names into a new column
df["Full Name"] = df["First Name"].astype(str) + " " + df["Last Name"].astype(str)

# (Optional) Save the updated data back to Excel
df.to_excel("Event Sheet.xlsx", index=False)

print("✅ Full Name column added successfully!")

✅ Full Name column added successfully!